<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Context Free Art renderer on Heroku</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="./js/jquery-linedtextarea.js"></script>
	<link href="./css/jquery-linedtextarea.css" type="text/css" rel="stylesheet" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<script>
	$(document).ready(function() {
		var count = 0;
		$('#code').linedtextarea();
		$('#code').attr('wrap', 'off');
		$('#renderButton').click(function() {
			render();
		})

		function render() {
			var code = $('#code').val();
			var encoded = encodeURIComponent(code);
			// var imgsrc = 'https://cfdg.herokuapp.com/render?code=' + encoded + '&count=' + count;
			var imgsrc = 'render?code=' + encoded + '&count=' + count;
			count++;
			$('#output').empty();
			$('#output').prepend($('<img>',{id:'theImg',src:imgsrc}));
		}

		render();
	});
	</script>
</head>

<body style="padding-top: 10px">
	<div class="container">
		<h1>Context Free Art renderer on Heroku</h1>
	</div>
	<div class="container">
		<div class="row" style="margin: 5px">
			<div class="col-md-6">
				<textarea rows="30" cols="70" itemprop="description" id="code" name="code" autocorrect="off" autocomplete="off" autocapitalize="off" spellcheck="false">/*
 * http://www.contextfreeart.org/gallery/view.php?id=1647
 */
startshape main

background {sat .3 h 200}

rule main {
  CLOVER {b .2}
  main {z -1 s 0.8 x 4 r 100}
}

rule CLOVER {
  CIRCLE {}
  CLOVER {x 1.0 s 0.99 r 90 b 0.01}
}</textarea>
			<br>
			<input type="button" value="Render" id="renderButton">
			</div>
			<div class="col-md-6" id="output"></div>
		</div>
		<div class="row" style="margin: 5px">
			<center><a href="https://github.com/kn1kn1/go-cfdg">Project Home at GitHub</a></center>
		<div>
	</div>
</body>
</html>
